@media only screen and (min-width: 600px) {
    body {
        background-color: black;
        font-family: 'Roboto', sans-serif;
    }
}
@media only screen and (min-width: 992px) {
    body {
        background-color: black;
        font-family: 'Roboto', sans-serif;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
        width: 100%;
        height: 20vH;
        background-color: black;
    }

    #list {
        width: 25%
    }

    .head {
        display: inline;
        list-style: none;
        margin: 1rem;
        color: white;
    }

    #title {
        margin-top: auto;
        margin-bottom: auto;
    }

    h1 {
        display: inline-block;
        font-size: 4em;
        color: white;
    }

    #shop_tag {
        width: 25%;
        margin-top: 1%;
    }

    #head_order {
        float: right;
        margin-right: 2%;
    }

    .fas {
        font-size: 2rem;
        margin-left: 200px;
        margin-top: 12px;
        color: white;
    }

    .shop {
        background-color: darkolivegreen;
        width: 100px;
        height: 50px;
        border-radius: 3px;
        outline: none;
        border: none;
        font-size: 1rem;
        margin-right: 1%;
        color: white;
    }

    #section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
        width: 100%;
        height: 80vH;
    }

    #part_one {
        width: 25%;
        height: 80vh;
        background-image: url("lux2.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    #part_two {
        width: 49.5%;
        height: 80vh;
        background-image: url("lux3.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    #part_three {
        width: 25%;
        height: 80vh;
        background-image: url("lux1.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    h2 {
        color: white;
        font-size: 2.5rem;
        margin-top: 200px;
        line-height: 1rem;
        letter-spacing: .18em;
        text-align: center;
    }

    #section_p {
        color: white;
        font-size: 1.5em;
        text-align: center;

    }

    #section_id {
        margin-left: 300px;
    }

    #apart{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
        height: 50vh;
        object-fit: cover;
        background-image: url("shop3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: auto;
    }

    h3 {
        text-align: center;
        color: white;
    }

    li {
        list-style: none;
        line-height: 2em;
        color: white;
    }
}
